  
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} 

li{
  
  list-style: none;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  a{
     text-decoration: none;
    color: #f21921;
    height: 40px;
      overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s;
  }
 button{
    
      
      height: 40px;
      padding: 5px 20px;
      color: #f21921;
      
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color .5s;
    }
    button:hover{
      background-color:  #f21921;
      color:white;
    }
    a:hover{
      
      color:white;
    }
  .header{
    
    background-color: #c6cac9;
    
  }
  .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100% !important;
    position: fixed;
    z-index: 999;
    transition: background-color ease-in-out .3s;
    
  }
  .container.sticky,header {
   
    background-color: #c6cac9; /* New navbar background color after scrolling */
  }
  
  .container.sticky .navv a{
    font-weight: 500;
    color: black; /* New navbar item color after scrolling */
  }
  .logo img {
   width:200px; 
   height:70px;
   padding-left: 90px;
  }

  .nav ul{
    padding-top: 20px;
    display: flex;
  }
  .nav ul a{
    padding: 20px;
    color: white;
  }
  .contact button{
    margin-top: 15px;
    margin-right: 200px;
      display: inline-block;
      width: 100px;
      height: 40px;
      padding: 5px 20px;
      color: #f21921;
      
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color .5s;
    }
    .contact:hover button{
     
      color:white;
    }
    
    /* resbosiable nav bar */
    .span_menu{
      display: none;
    }
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
     
    }
    
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .overlay button {
      margin-top:145px;
    
      display: inline-block;
      width: 100px;
      height: 40px;
      padding: 5px 20px;
      color: #f21921;
      
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .overlay button:hover{
      background-color:  #f21921;
      color:white;
    }
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    
    .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    .span_menu{
      font-size:30px;cursor:pointer
    }
    
      /* Slideshow container */
    
      * {box-sizing: border-box}
      body {font-family: Verdana, sans-serif; margin:0}
      .mySlides {
        display: none;
        
      }
      .mySlides img {vertical-align: middle;}
      
      .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        
      }
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Caption text */
      .text {
        
        color:  #ffffff;
        
        padding: 8px 12px;
        position: absolute;
        top: 400px;
        
        width: 100%;
        text-align: center;
        
      }

      .text h1 {
        
        font-size: 50px;
        padding-bottom: 20px
        
      }
      .slide{
        margin-top: 20px;
          
          height: 40px;
          padding: 5px 20px;
          color: #f21921;
          
          font-family: Arial, sans-serif;
          font-size: 16px;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color .5s;
        }
        .slide:hover{
          background-color:  #f21921;
          color:white;
        }
        

      @import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap';
  
     
     
      h2
      {
        font-size: 2em;
      }
      
      
     
        
   
  
      span
      {
        color: #f21921;
      }
      
      .hybrid span::after{
        
        align-self: center;
        content: '|';
        transition: .05s;
        animation: blink 1.5s infinite;
      }
      
      @keyframes blink{
        0%,50%,100%{
          opacity:1
        }
        25%,75%{
          opacity:0
        }
      }
      


      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
      }
      
       /* section1 */

       .section1{
        
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
      }

      .section1 h5{
        color: #c6cac9ea;
        font-size: 28px;
        padding-bottom: 15px;


      }
      .section1 p{
        line-height: 33px;
        padding-top: 10px;
        font-size: 18px;
        color: #c6cac9e8;

      }

           /* section 2*/

     
           .section2 {
            text-align: center;
            display: flex;
            justify-content:space-evenly;
            
            padding-bottom: 100px;
          }
          .section2 .img img{
           width: 70px;
           padding-right: 15px;
    
          }
    
          .section2 .box{
            display: flex;
         }
    
    
         .text-count p{
          color: #c6cac9e8;
         }

         /*section3*/
     .section3{
        background-color:#c6cac9e8;
        
        
       }
       .section3 .content{
        display: flex;
        justify-content: space-between;
        
        padding-top: 30px;
        padding-bottom: 30px;
        
       }
       .section3 .right{
        padding-left: 400px;
        width: 70%;
       }
       .section3 .right h1{
        padding-top: 20px;
        width: 90%;
        line-height: 1.5em; 
        font-size: 46px;
       }
       .section3 .right p{
        padding-top: 10px;
        width: 90%;
        line-height: 1.5em; 
        font-size: 20px;
       }
       .section3 .right button{
        margin-top: 15px;
        
        font-size: 20px;
       }
       .section3 .left{
        padding-right: 70px;
        width: 50%;
       }
       .section3 .left img{
         
        width: 500px;
       }

       
     /*section4**/
     .section4 {
       
        margin-bottom: 30px;
        margin-top: 30px;
      }
 
      .bgimg {
       background-image: url('../media/section4/bg_2.jpg');
       height: 500px;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       
     }
     .bgimg .cont {
       color: white;
       text-align: center;
       padding-top: 170px;
 
 
     }
     .bgimg .cont h1{
       color: white;
       font-size: 50px;
       padding-bottom: 10px;
       
 
     }
     .bgimg .cont p{
       color: rgb(201, 194, 194);
      line-height: 2em;
      
 
     }

     
    /*section5*/
    .section5{
        text-align: center;
      }
      .section5 p{
        color: #c6cac9;
        padding-bottom: 10px;
      }
  
      .section5 h1{
        color: #f21921;
        font-size: 40px;
        padding-bottom: 10px;
      }
  
      
  .classes {
      
    padding: 50px 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .class-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .class-card {
    background-color: #f8f8f8;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
    text-align: left;
  }
  
  .class-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .class-card p {
    font-size: 0.9em;
    line-height: 1.4;
  }
  
  .class-card img{
    width: 210px;
    padding-bottom: 10px;
  }

  
/*section 6*/
.section6 {
    background-image: url('../media/section6/bg_3.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }
  .section6 .content{
    color: white;
    text-align: center;
    padding-top: 150px;
  }
  .section6 .content h1{
    font-size: 40px;
    padding-bottom: 15px;
  }
  
  .section6 .content p{
    color: rgba(255, 255, 255, 0.692);
    line-height: 1.8em;
  }
  
  

/*section 7*/
.section7 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .section7 .schedule {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .section7 .schedule h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .section7 .filter {
    margin-bottom: 20px;
  }
  
  .section7 #search {
    width: 50%;
    padding: 10px;
    font-size: 1em;
  }
  
  .section7 .schedule-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .section7 .day-column {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .section7 .day-column h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f21921;
  }
  
  .section7 .class-card {
    
    display: none;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  @keyframes fadeIn {
    from { opacity: 0; } /* Start with 0 opacity (transparent) */
    to { opacity: 1; } /* End with 1 opacity (fully visible) */
  }
  .section7 .day-column:hover {
    .class-card{
      cursor: pointer;
      display: block; /* Hide the element initially */
      animation-name: fadeIn; /* Use the defined animation */
      animation-duration: 1.3s; /* Set animation duration to 1 second */
      animation-fill-mode: forwards; /* Keep the final state after animation */
      /*transition: display 8.5s;*/
    }
     
    
  }
  .section7 .class-card:hover {
    transform: scale(1.03);
  }
  
  .section7 .class-card h4 {
    font-size: 1.2em;
    color: #333;
  }
  
  .section7 .class-card p {
    font-size: 0.9em;
    color: #555;
  }
  
  .section7 .yoga {
    border-left: 5px solid #ff5733;
  }
  
  .section7 .Karate {
    border-left: 5px solid #33b5e5;
  }
  
  .section7 .Boxing {
    border-left: 5px solid #3531f3;
  }
  .section7 .Bootcamp {
    border-left: 5px solid #8f33e5;
  }
  .section7 .Kickboxing{
    border-left: 5px solid #f82424;
  }
  .section7 .Strength {
    border-left: 5px solid #33e5d6;
  }
  .section7 .CrossFit {
    border-left: 5px solid #e59e33;
  }
  .section7 .Zumba {
    border-left: 5px solid #33e5aa;
  }
  .section7 .HIIT {
    border-left: 5px solid #1b071d;
  }
  
  /**section8*/
  
  .section8 {
    background-image: url('../media/section8/bg_1.jpg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
  .section8 .content{
    color: white;
    text-align: center;
    padding-top: 150px;
  }
  .section8 .content h1{
    font-size: 40px;
    padding-bottom: 15px;
  }
  
  .section8 .content p{
    color: rgba(255, 255, 255, 0.692);
    line-height: 1.8em;
  }

  /*section9*/
    
        .section9 {
            
          justify-content: center;
          align-items: center;
           margin-bottom: 30px;
             /* يجعل العنصر يأخذ كامل ارتفاع الشاشة */
             background-color: #f4f4f4; /* لون الخلفية */
        }

        .section9 .content {
            text-align: center; /* يوسّط النص أفقيًا داخل الـ .content */
        }

        .section9 .content h1 {
            margin: 10px 0;
        }

        .section9 .content p {
            margin: 10px 0;
            padding-right: 30px;
            padding-left: 30px;
            color: #0000006b; /* لون الخلفية */
            line-height: 1.5em;
        }
        .section9 .cv p {
          margin: 10px 0;
          padding-right: 10px;
          padding-left: 10px;
          color: #0000006b; /* لون الخلفية */
          line-height: 1.5em;
      }
        .section9 span {
            font-weight: bold;
        }

        .section9 .cv {
          justify-content: center;
          text-align: center; /* يوسّط النص أفقيًا داخل الـ .content */
          padding: 20px;
          margin: 10px;
          border-radius: 5px;
          width: 400px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
      
        }
        .section9 .cv h6{
          font-size: 19px;
      
        }
        .section9 .cv h2{
          padding-top: 10px;
      
        }
        .section9 .trainer{
          justify-content: center;
          text-align: center; /* يوسّط النص أفقيًا داخل الـ .content */
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          
        }
        .section9 .cv img{
          border-radius: 50%;
          overflow: hidden;
          width: 40%;
          
        }

        /*section10*/

        .section10 {
         margin-bottom: 20px;
          text-align: center; /* يوسّط النص أفقيًا داخل الـ .content */
        }
        .section10 p {
          margin: 10px 0;
          padding-right: 160px;
          padding-left: 160px;
          color: #0000006b; /* لون الخلفية */
          line-height: 1.5em;
      }
      .section10 span {
        font-size: 35px;
        font-weight: bold;
    }
    .section10 .contant{
      padding-top: 20px;
      justify-content: center;
      text-align: center; /* يوسّط النص أفقيًا داخل الـ .content */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }
    .section10 img{
      width: 100px;
      padding-top: 20px;
      
    }

    .section10 h2{
      padding-top: 20px;
      font-size: 20px;
      
    }
    .section10 .services{
      width: 950px;
      
    }
    .section10 .services:hover{

      justify-content: center;
          text-align: center; /* يوسّط النص أفقيًا داخل الـ .content */
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
          transition: box-shadow .4s ease-in-out;
    }




    /*section11*/

    .section11 {
      
      padding-top: 50px;
      background-color: #f1f1f1;
       text-align: center; /* يوسّط النص أفقيًا داخل الـ .content */
     }
     .section11  p {
      font-size: 1.2em;
      padding-bottom: 10px;
      padding-top: 10px;
      
    }
    .section11  span {
      font-weight: bold;
      font-size: 1.8em;
      
    }

    .section11 .contact-form {

  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto; 
 }



.section11 .contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.section11 .contact-form input,
.section11 .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;  margin-bottom: 15px;
}

.section11 .contact-form textarea {
  height: 150px;
}

.section11 .contact-form button {
  
 
  color:  #f21921;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.section11  .contact-form button:hover {
  background-color:  #f21921;
      color:white;
}

/*footer*/

footer {
  background-color: #111;
  color: #fff;
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-section h3 {
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

.footer-section ul {
  padding-left: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-section .social a {
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}







@media (max-width: 1500px) {
    .section3 .right{
      padding-left: 200px;
      width: 70%;
      }
  }
  @media (max-width: 1300px) {
    .section3 .right{
      padding-left: 100px;
      
      }
      .section3 .left img{
      
      width: 400px;
      }
  }
  @media (max-width: 999px) {
    .contact button{
      margin-right: 100px;
    }
    .logo img {
      width:130px; 
      height:50px;
      padding-left: 60px;
      }
      .section3 .right h1{
      font-size: 36px;
      }
      .section3 .right p{
      font-size: 15px;
      }
      .section3 .right button{
      font-size: 15px;
      }
      .section4 .cont h1{
      font-size: 35px;
      }
      .section4 .cont p{
      font-size: 16px;
      }
      .section10 p {
        margin: 10px 0;
        padding-right: 60px;
        padding-left: 60px;
        color: #0000006b; /* لون الخلفية */
        line-height: 1.4em;
    }
  
  }
  @media (max-width: 899px) {
      .contact button{
        margin-right: 20px;
      }
      
      
  }  
  @media (max-width: 810px) {
    
    .span_menu{
      display: block;
      float: right;
      padding-right: 20px;
      padding-top: 8px;
      color: white;
    }
    .nav,.contact{
      display: none;
    }
    .overlay a {
      
      font-size: 26px;
      
    }
    
    .section2 {
    text-align: center;
      display:grid;
      
    }
    .section2 .box {
      padding: 30px;
        
      }
    .text h1{
      font-size: 30px;
    }
    .text h2{
      font-size: 20px;
    }
    .section3 .left img{
      
      width: 300px;
      }
    .section3 .right{
      padding-left: 10px;
      }
      .section3 .right h1{
      font-size: 26px;
      }
      .section3 .right p{
      font-size: 15px;
      }
      .section3 .right button{
      font-size: 13px;
      }
      .section10 p {
        margin: 10px 0;
        padding-right: 30px;
        padding-left: 30px;
        color: #0000006b; /* لون الخلفية */
        line-height: 1.4em;
    }
  
  }
  @media (max-width: 610px) {
    .span_menu{
      font-size: 20px;
  
    }
    .logo img {
      width:80px; 
      height:30px;
      padding-left: 30px;
      }
      .section3 .content{
        display: block;
      padding-top: 30px;
      padding-bottom: 30px;
      }
      .section3 .left{
      padding-top: 30px;
      padding-left: 60px;
      width: 100%;
      }
      .section3 .right{
      padding-top: 30px;
      padding-left: 80px;
      width: 100%;
      }
      .section4 .cont h1{
      font-size: 30px;
      }
      .section4 .cont p{
      font-size: 15px;
      }
      .section5 h1{
      font-size: 32px;
      }
      .section8 .content h1{
        font-size: 30px;
        padding-bottom: 15px;
      }
      
      .section8 .content p{
        color: rgba(255, 255, 255, 0.692);
        line-height: 1.5em;
        font-size: 20px;
      }
      
      
  
  }
  @media (max-width: 445px) {
    .section7 .schedule-grid{
        display: block;
    }
    .section7 .day-column{
        width: 100%;
    }
    .section8 .content h1{
        font-size: 27px;
        padding-bottom: 10px;
      }
      
      .section8 .content p{
        color: rgba(255, 255, 255, 0.692);
        line-height: 1em;
        font-size: 20px;
      }
      .section10 p {
        margin: 10px 0;
        padding-right: 0px;
        padding-left: 0px;
        color: #0000006b; /* لون الخلفية */
        line-height: 1.4em;
    }
      
}
  @media (max-width: 375px) {
    .section3 .left{
      
      padding-left: 10px;
      
      }
      .section3 .right{
      padding-top: 30px;
      padding-left: 30px;
      width: 100%;
      }
    .section7 .day-column h3{
      font-size: 16px;
      width: 100%;
    }
    .section7 .class-card h4{
      font-size: 14px;
      width: 100%;
    }   
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 20px;
    top: 15px;
    right: 35px;
    }
    .text h1{
      font-size:20px;
    }
  }

